@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat',cursive;
}
#home{
  background-color:#09ED58;
 top: 20px;
  color: red;
  margin-top: 50px;
  width: 100%;
  padding: 4.5%;
  background-size: cover;
 
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%; 
  overflow: hidden;
  z-index: 2;
}
.home-title{
    text-shadow: 3px 3px 2px black;
  text-align: center;
}
.images{
  width: 100%;
  display: block;
}
 .home_images{
  width: 50%;
  margin: 1%;
    box-shadow: 5px 5px 30px red ;
}
.home_images:nth-child(1) { 
  margin-left:5% ;
}
.home_images:nth-child(2) { 
  margin-left:45%;
}
.home_images:nth-child(3) { 
  margin-left:5%;
}
.alert{
 text-align: center;
 font-size: 20px;
 z-index: 1;
}
.card {
  margin: 5% 0%;
  z-index: 1;

}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;

}
#shop{
  text-align: center;
  display: none;
}
.container{
  display: none;
}
.contact-form{
  display: none;
  height: 100vh;
  margin-top:5%;
}
#order:nth-child(odd){
 width: 50%;
margin: auto;
display: none;
}
.list_items{
  display: flex;
  text-align: center;
  justify-content: space-between;
 justify-items: center;
  flex-direction: row;
  
}
.delete_btn{
 border:solid 2px red;
 color:red;
  
}
#check_out_btn{
  border: solid 2px red;
  width: 50%;
  margin: auto;
 background-color: #22C11C;
 display:none;
}
#order{
   background-color:#09ED58;
   top: 20px;
    color: red;
    margin-top: 50px;
    width: 100%;
    padding:1%;

}
#shop-section{
     background-color: #09ED58;
    top: 20px;
    color: red;
    margin-top: 50px;
    width: 100%;

}
#order-title{
  display: none;
  text-align: center;
}
.contact-form-section{
    display: none;
   background-color:#09ED58;
   top: 20px;
   color: red;
   margin-top: 50px;
   width: 100%;
   justify-items: center;
   justify-content:center;

}
.message{
  color: black;
}
#items-title{
  text-align: center;
  display: none;
}
.name{
  width: 100%;
}
.email{
  width: 100%;
}
